<div id="inputs_de_registro">
  <input
    type="text"
    name="juego"
    id="consola"
    placeholder="Juego - Ejem: Mortal Kombat"
    autofocus />
  
  <input
    type="text"
    name="img"
    id="img"
    placeholder="URL - Ejem: https://example.com/tes-skyrim/carrera-blanca.png" />
</div>

<button type="submit" class="btn-desactivado">Guardar Info</button>
