<!DOCTYPE html>
<html>
  <head>
    <%- include ("./parties/header.ejs") %>
    <link rel="stylesheet" href="css/form.css" />
    <title>Editar elemento</title>
  </head>
  <body>
    <header id="header"><%- include ("./parties/head.ejs") %></header>

    <div id="conteiner">
      <div>
        <form method="POST" action="/editar/<%= id %>">
          <%- include("./parties/form2.ejs") %>
        </form>
      </div>
    </div>
  </body>
</html>
