<!DOCTYPE html>
<html>
  <head>
    <%- include ("./parties/header.ejs") %>
    <title>form</title>
  </head>
  <body>
    <header>
      <%- include ("./parties/head.ejs") %>
    </header>

    <h1>Form</h1>
    <form method="POST" action="/form">
      <%- include("./parties/form.ejs") %>
    </form>
  </body>
</html>
