<html>
  <header>
    <%- include("./parties/header.ejs") %>
    <title>form</title>
  </header>
  <body>
    <%- include("./parties/head.ejs") %>
    <h1>Form</h1>
    <form method="POST" action="/form">
      <%- include("./parties/form.ejs") %>
    </form>
  </body>
</html>
