<!DOCTYPE html>
<html>
  <head>
    <%- include ("./parties/header.ejs") %>
    <link rel="stylesheet" href="css/form.css" />
    <title>form</title>
  </head>
  <body>
    <header id="header"><%- include ("./parties/head.ejs") %></header>
    <div id="conteiner">
      <div >
        <form method="POST" action="/form">
          <%- include("./parties/form.ejs") %>
        </form>
      </div>
    </div>
    <script src="js/agregar-elemento.js"></script>
  </body>
</html>
