<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SQL AAA</title>
  </head>
  <body>
    <div style="display: flex; width: 200px; height: 200px">
      <% results.map(({ juego, id, img }) => { %> <% if(!img) { %>
      <img
        src="https://gamefaqs.gamespot.com/a/box/0/1/3/435013_front.jpg"
        alt="a"
        style="width: auto"
      />
      <% } else { %>
      <div>
        <img src="<%= img %>" alt="img" style="width: 100px" />
      </div>
      <% } %> <% }) %>
    </div>
  </body>
</html>
