<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("./parties/header.ejs") %>
    <title>Landing page</title>
  </head>
  <body>
    <%- include("./parties/head.ejs") %>
    <div style="display: flex; width: 200px; height: 200px">
      <% results.map(({ juego, id, img }) => { %> <% if(!img) { %>
      <p>Juego no encontrado</p>
      <% } else { %>
      <div>
        <img src="<%= img %>" alt="img" style="width: 100px" />
      </div>
      <% } %> <% }) %>
    </div>
  </body>
</html>
