#conteiner {
  display: flex;
  justify-content: center;
  align-items: center;
  color: red;
}

#conteiner > div {
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
  width: 35%;
}

#conteiner > div > form {
  display: flex;
  flex-direction: column;
}

#conteiner > div > form > button {
  margin-top: 5%;
  border: none;
  padding: 4%;
  background-color: #f9d949;
  cursor: pointer;
  border: 2px solid;
  border-radius: 5px;

  transition: 0.5s all ease;
}

#conteiner > div > form > button:hover {
  background-color: #ffed00;
}

#consola,
#img,
#created_by {
  background-color: transparent;
  border: none;
  border: 2px solid #2b2b2b;
  border-radius: 3px;
  font-size: 15px;
  padding: 5px;
  outline: none;
}

#inputs_de_registro {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
